$mobile: 767px;
$desktop: 768px;

$blue-light: #29b6f6;
$blue-dark: #0086c3;
$white: white;
$black: black;
$black-default: #1B1C1D;
$transparent: transparent;
$grey: rgba(255,255,255,.5);

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: $blue-light;

  .app {
    &-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    @media screen and (max-width: $mobile) {
      &-mobile {
        width: 100%;
      }
    }
  }
  
  .column {
    flex-basis: 100%;
    &.app-desktop-left {
      @media screen and (min-width: $desktop) {
        flex-basis: 20%;
      }
    }
    &.app-desktop-right {
      @media screen and (min-width: $desktop) {
        flex-basis: 80%;
        background-color: $white;
        display: flex;
        justify-content: center;
      }
    }
  }
  
  .dashboard-title-component {
    height: 40px;
    width: 100%;
    background-color: $black;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    position: fixed;
    @media screen and (min-width: $desktop) {
      border-top: 10px solid $blue-dark;
      font-size: 18px;
      background-color: $blue-light;
      height: 50px;
    }
  }

  .app-desktop-left {
    @media screen and (min-width: $desktop) {
      width: 20%;
      background-color: $black-default;
    }
    font-size: 14px;
  }
  
  .app-desktop-right {
    background-color: $white;
    min-height: 500px;
    @media screen and (min-width: $desktop) {
      width: 80%;
    }
  }

  .button {
    &-search {
      &-container {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: $mobile) {
          padding-bottom: 20px;
        }
      }
      &-parent {
        flex: 1 1 32.8%;
        height: 50px;
        border: none;
        @media screen and (min-width: $desktop) {
          flex: 1 0 100%;
          min-height: 50px;
        }
      }
    }
    &-background-color {
      @media screen and (min-width: $desktop) {
        background-color: $transparent;
      }
    }
    &-default {
      border: none;
      text-align: left;
      text-indent: 10px;
      color: $white;
      margin: 10px;
      white-space: nowrap;
      @media screen and (max-width: $mobile) {
        padding: 10px 0;
        border: 1px solid $white;
      }
   
      @media screen and (min-width: $desktop) {
        color: $grey;
        &:hover {
          cursor: pointer;
          color: $white;
        }
      }
    }
    &-random {
      margin-top: 60px;
      @media screen and (min-width: $desktop) {
        margin-top: 100px;
      }
    }
  }

  .ingredient-container {
    @media screen and (min-width: $desktop) {
      padding: 60px 30px 30px;
    }
    background-color: $white;
    .title {
      @media screen and (max-width: $mobile) {
        text-align: center;
      }
      font-size: 30px;
      font-weight: bold;
      line-height: 1.6;
    }
    
    .image {
      @media screen and (min-width: $desktop) {
        width: 50%;
      }
      width: 100%;
    }
    &-list {
      padding: 10px;
      line-height: 0;
    }

    .content {
      line-height: 1.6;
      .ingredient-list {
        line-height: 1.1;
      }
    }
  }

  .search-input-field {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    @media screen and (min-width: $desktop) {
      width: 84%;
      text-indent: 6px;
    }
    &:focus {
      border: none;
    }
  }

  iframe {
    width: 100%;
  }

  .instruction {
    padding: 10px;
  }
  
  .empty-meal-error-message {
    padding-top: 20px;
    @media screen and (min-width: $desktop) {
      padding-top: 100px;
    }
  }
}